@import "tailwindcss";

:root {
  --background: #f1f5f9;
  --foreground: #171717;
  --shadow-main: 0px 4px 8px rgba(0, 0, 0, 0.1);
  --button-color: #ccc;
  --main-color: oklch(70.7% 0.165 254.624);
  --light-color: oklch(80.9% 0.105 251.813);
  --hover-color: rgba(0, 0, 0, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --shadow-main: var(--shadow-main);
  --color-button-color: var(--button-color);
  --color-main-color: var(--main-color);
  --color-light-color: var(--light-color);
  --color-hover-color: var(--hover-color);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
a {
  text-decoration: none;
  color: inherit;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans";
  display: flex;
  min-height: 100vh;
  margin: 0;
}

svg {
  flex-shrink: 0;
}
